

@font-face {
    font-family: 'barlowblack';
    src: url('../fonts/barlow-black-webfont.woff2') format('woff2'),
         url('barlow-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;   

}
@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'),
         url('barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowextrabold';
    src: url('../fonts/barlow-extrabold-webfont.woff2') format('woff2'),
         url('barlow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowextralight';
    src: url('../fonts/barlow-extralight-webfont.woff2') format('woff2'),
         url('barlow-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow-light-webfont.woff2') format('woff2'),
         url('barlow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlow-medium-webfont.woff2') format('woff2'),
         url('barlow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular-webfont.woff2') format('woff2'),
         url('barlow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowsemibold';
    src: url('../fonts/barlow-semibold-webfont.woff2') format('woff2'),
         url('barlow-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlow-thin-webfont.woff2') format('woff2'),
         url('barlow-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { font-size: 16px;   font-family: barlowregular;}
.btn-lg { font-size: 24px; font-family: 'barlowsemibold';}
.btn-primary { background-color: #fe9000; border-color: #fe9000; color: #161616; font-weight: 500;}
.btn-primary:hover ,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus { box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); background-color: #fe9000; border-color: #fe9000;}
ul , li { list-style: none; padding: 0;}
.text-primary { color: #fe9000 !important;}
/* Header */
.mob-menu { display:none;}
header .navbar-nav .nav-link:before {  content: ""; height: 2px; display: inline; width: 0; transition: all .3s ease;
    position: absolute; bottom: 0; left:0; }

header .navbar-nav .nav-item:hover .nav-link:before { background-color: #222; border-bottom: 2px solid #222; width:100%;}
header .navbar-brand { display: flex;}
header .navbar-brand span { display: flex; flex-direction: column; justify-content: center;  font-family: 'barlowsemibold';padding-left: 10px;font-family: 'barlowbold';}
header .navbar-brand span big { font-size: 26px; line-height: 26px;}
header .navbar-brand span small { font-size: 18px; line-height:18px; font-family: 'barlowsemibold'; }
.navbar-nav { margin-left: auto; margin-right: 0;}
.navbar-light .navbar-nav .nav-link { color: #000; font-family: 'barlowmedium'; text-transform: uppercase; font-size: 18px; position:relative; padding:8px 20px;}

.banner .banner-slider { background-image: url(../img/bg-banner.jpg); background-repeat: no-repeat; background-position: 100% 100%; display: flex; align-items: center; padding: 40px 0 20px 0; background-color: #1a1927; }
.banner .banner-slider .banner-img, .banner .banner-slider .banner-text { flex-basis: 50%; max-width: 50%;}

.banner-img img { max-width: 490px; text-align: center; margin: 0 auto; }
.banner-text { }
.banner-text h4 { color: #fe9000; font-size: 66px; font-family: 'barlowbold'; }
.banner-text h4 span { color: #fff;}
.banner-text p { font-size: 25px; line-height: 33px; color: #fff; font-family: 'barlowmedium'; }
.banner-text .btn { margin-left: 100px; margin-top:25px; font-size: 25px; color: #161616;font-family: 'barlowsemibold'; padding:12px 20px;}
.heading { font-size: 42px; font-family: 'barlowbold';  }
.services-head .heading { color: #0c0c0c}
.services-head p { color: #2c2c2c; font-size:16px; line-height:20px; padding:20px; font-family:Arial;}

.services { background: #f0f0f0; margin-top: 80px; padding: 40px 0 80px 0; }
.row-items-3 .col { flex-basis: calc( 100% / 3); max-width: calc( 100% / 3); margin: 35px auto;}
.services-card img { border-radius: 8px; max-height: 180px; object-fit: cover;}
.services-card a { border-radius: 4px; box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.25); background: #fff; display: block; margin-top: 20px; text-align: center; padding: 5px; color: #0c0c0c; font-size: 18px; font-family: 'barlowmedium';}
.services .btn { margin-bottom:30px;}
.Video-boost { background-color: #191927; padding: 80px 0; text-align: center; margin: 0px auto;  color: #fff;}
    .Video-boost h2 {
        font-size: 45px;
        font-family: 'barlowbold'; padding-bottom:30px; margin:0;
    }
    .Video-boost p { font-size: 18px; font-family: 'barlowregular'; text-transform:uppercase; margin-bottom:0; }

.magnet-music-wrap { justify-content:center; align-items:center; margin:0 -15px}
.magnet-music {
    flex-basis: calc( 100% / 2);
    max-width: calc( 100% / 2); padding:0 15px;}
.brand-boost { padding:100px 0;
}
.brand-box     { position: relative; border-radius: 16px; margin-bottom: 15px; overflow:hidden;}
.red-box       { background-color: #ff585d; text-align: center; height: 300px;}
.pinck-box     { background-color: #ff9bc3; height: 300px;}
.lightBlue-box {
    background-color: #01a6ff;
}
.pinck-box .brand-box-img { width: 100%; margin: 0 auto;}
.red-box .brand-box-content { position: absolute; left: 0; right: 0; bottom: 0;}
.red-box .brand-box-content p { font-size: 37px; margin: 0 auto; color: #fff; font-family: 'barlowsemibold';}
.red-box .brand-box-content p big { color: #1d1d1d; font-weight: bolder; font-size: 50px;}
.blue-box { background-color: #5873ff; height: 300px; display: flex; flex-direction: column; justify-content: center; align-items: center;}

.blue-box {
    font-size: 32px;
    padding: 20px;
    color: #fff;
    font-family: 'barlowsemibold';
    text-align: center;
    font-family: 'barlowbold';
}
.blue-box p big     {color:#1d1d1d; font-size:42px;}
.lightBlue-box p {
    font-size: 37px;
    line-height: 41px !important; color: #fff;
    font-family: 'barlowsemibold';
}
.lightBlue-box big  { font-size: 50px;}

.lightBlue-box .brand-box-img     { margin: 0 auto; }
    .lightBlue-box .brand-box-img img {
        max-width: 61%;
        margin-top: 15%;
        margin-left: 25%;
    }
    .lightBlue-box .brand-box-content {
        text-align: center;
        padding-top: 40px;
        position: absolute;
        left: 15%;
    }
    .lightBlue-box .brand-box-content p {
        line-height: normal;
        font-family: 'barlowbold';
    }
.lightBlue-box .brand-box-content big { color:#1d1d1d;}
.brand-box.magnet img , .brand-box.music img { border-radius: 16px;}

.about-us { background-color: #191927; padding: 80px 0;}
.about-us .heading { border-bottom: solid 1px #fff; color: #fff; text-align: center; padding-bottom: 60px; margin-bottom: 0; font-size: 40px;}
.about-us .about-left { padding:0 19px;}
.about-us .about-left .about-top {
        display: flex;
        text-align: center;
        color: #fe9000;
        font-family: 'barlowsemibold';
        padding-top: 45px;
    }
.about-us .about-left .about-top>div { text-align: center; margin: 0 auto;}
    .about-us .about-left .about-top .heading-top {
        color: #fe9000;
        font-size: 50px; line-height:45px;  margin:0px;
        font-family: 'barlowbold';
    }
.about-us .about-left .about-top p { font-size: 33px; line-height:45px; color: #fe9000;}
    .about-us .about-left p { margin-bottom:50px; font-size:20px; line-height:25px;
        color: #c9c9c9;
    }
.about-left .btn {
    font-family: 'barlowsemibold';
    margin: 0 auto;
    display: block;
    font-size: 25px;
    color: #161616;
    padding: 15px 17px;
}
.about-right { padding:0;}
.about-video { position:relative;}
    .about-video:after {
        content: "";
        background-image: url(../img/play-btn.png);
        height: 100px;
        width: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .about-video img { max-height:350px; border-radius:16px;}
.btn-hide-responsive {
    
}
.btn-hide-desktop {
    display: none;
    font-family: 'barlowsemibold';
    margin: 0 auto; 
    font-size: 25px;
    color: #161616;
}
/* Client */
.clients {
    background-color: #f0f0f0;
    padding: 80px 0;
}
.client-head { text-align: center; padding:0 60px}
.client-head .heading { font-family: 'barlowbold';}
    .client-head p {
        color: #2c2c2c;
        font-size: 16px;
        line-height: 20px;
        padding: 20px;
        font-family: Arial;
    }
.about-wrap { justify-content: center; align-items: center;}
.client-logo { justify-content: center; align-items: center; flex-wrap: wrap;}
.client-logo li { flex-basis: calc( 100% / 4); max-width: calc( 100% / 4);} 

/* footer */
footer {
    background-color: #191928;
    padding: 40px 0 28px 0;
}
.footer-logo a { color: #fff;}
.footer-logo .footer-logo-text {
    padding-top: 15px;
    margin: 0px;
    font-size: 20px;
    font-family: 'barlowmedium';
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons li { padding: 0px 4px;}
    .socialIcons li a { display:block;}
    .socialIcons li a img { width:25px;}
    footer .foot-menu {
        display: flex;
    }
.footheading {
    font-size: 25px;
    color: #fe9000;
    position: relative;
    font-family: 'barlowmedium';
}
.footheading:after { position: absolute; content: ""; background: #fe9000; width: 90px; height: 2px; bottom: -10px; left: 0;}
footer .foot-menu ul { padding-top: 20px;}
footer .foot-menu li a {
    color: #fff;
    font-size: 18px;
    font-family: 'barlowregular';
}

footer .foot-menu li a img { width: 30px; padding: 0 5px;}
.copy-right {
    text-align: right;
    font-size: 18px; line-height:25px;
    color: #b6b6b6;}
.copy-right p { margin:0px; font-size:18px; text-transform:uppercase;}
.copy-right p span { font-size:22px;}
/* service Page */

.service-banner {
    background-image: url(../../Assets/img/Services-images/2D-animation-page-service/image01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 0;
}
.service-banner-wrap { display:flex; align-items:center;}
.service-banner-left { flex-basis:30%;}
.service-banner-right { flex-basis:65%; margin-left:5%;}
.services.Animation-vedio-2d { margin-bottom:-40px; padding-bottom:100px;}
.Animation-2d { align-content: center; color: #fff;margin-bottom: 20px; }
.Animation-2d h2 { font-family: 'barlowsemibold'; font-size: 38px; }
.Animation-2d .btn { font-family: 'barlowsemibold'; font-size: 24px;}
.service-banner-text { padding:30px 100px 0 100px;}
.service-banner-text p { color: #c9c9c9; }
.Animation-vedio-2d .btn-lg { font-family: 'barlowsemibold'; }
.Animation-vedio-2d-foot { padding: 40px 0px 0px 100px;}

.brand-boost-wrap { display: flex; justify-content: space-around; align-items: center; padding: 40px 0;}
.brand-boost-wrap .brand-boost-content { flex-basis: 60%; max-width: 60%;}
.brand-boost-wrap .brand-boost-img { flex-basis: calc( 40% - 25px); max-width: calc( 40% - 25px); padding: 25px;}
.brand-boost-wrap .brand-boost-content .boost-heading { color: #0c0c0c; text-align: center;font-family: 'barlowsemibold';display: block;margin: 10px auto;width: max-content;padding: 5px;border-radius: 6px;}
.brand-boost-wrap .brand-boost-content p , .brand-boost-wrap .brand-boost-content ul li { color: #2c2c2c;}

.story-video ,.demo-launch ,.how-video { background-color: #e8e8e8;}
.rhymes-kids ,.promo-video , .education-video { background-color: #fdf8f4;}
.story-video .boost-heading { background-color: #fd575c;}
.demo-launch .boost-heading { background-color: #fd575c;}
.how-video .boost-heading   { background-color: #fd575c;}
.rhymes-kids .boost-heading   { background-color: #fd575c;}
.promo-video .boost-heading   { background-color: #fd575c;}
.education-video .boost-heading   { background-color: #fd575c;}


.benefits { padding: 80px 0; 
            background-image: url(../img/Services-images/2D-animation-page-service/image02.jpg); background-repeat: no-repeat;background-size: contain;height: 100%;width: 100%;color: #fff;background-position: right;
            background-color: #1a1929;}
.benefits-head {  margin-bottom: 40px;} 
.benefits-head::after { display: inline-block; content: ""; border-bottom: solid 2px #fff; height: 2px; width: 80%;}
.benefits-body { padding-right:45%;}
.benefits-body .benefits-point { margin-bottom:40px;}
.benefits-body .benefits-point p { margin:0;}
.contect-form { background-image: url(../img/form-bg.png);background-color: #fff;padding: 80px 0;background-position: top center;background-size: 100% 100%;height: auto;background-repeat: no-repeat;}
.contect-form .form-wrap { background: rgb(50 49 77 / 80%); margin: 40px auto; padding: 57px 0; border-radius: 16px; max-width: 650px; color: #fff; position: relative;}
       /* .contect-form .form-wrap::after {
            content: "";
            background-image: url(../img/plant.png);
            background-repeat: no-repeat;
            width: 167px;
            height: 100%;
            position: absolute;
            bottom: -57%;
            z-index: 11;
            top: auto;
            left: -15%;
            transform: translate(-10%, 0%);
        }
    .contect-form .form-wrap::before {
        content: "";
        background-image: url(../img/boy.png);
        background-repeat: no-repeat;
        width: 270px;
        height: 100%;
        position: absolute;
        z-index: 11;
        top: 10%;
        right: -35%;
        background-size: 100% 100%;
    }*/

.form-wrap .form-head { padding-bottom: 40px;}
    .form-wrap .form-head .heading {
        color: #fdfdfd; border-bottom: 1px solid #fff;
        display: inline-block;
        padding-bottom: 25px; margin:0px; font-size:41px; line-height:41px;
    }
    .form-wrap .form-head small {
        display: block;
        font-size: 18px;
        padding-top: 14px;
        line-height: 18px;
        color: #fff;
        font-family: 'barlowregular';
    }
    .form-wrap .form-head h4 {
        font-size: 25px;
        font-family: 'barlowsemibold'; font-style:italic; padding-top:15px; margin:0;
    }
    .form-wrap .form-body {
        padding: 0 40px;
    }
.form-wrap .form-body .form-group { margin-bottom:30px;}
        .form-wrap .form-body .form-control {
            height: 54px;
        }
        .form-wrap .form-body textarea.form-control {
            height: 130px;
        }
        .form-wrap .form-body .btn {
            color: #161616;
            font-size: 25px;
            font-family: 'barlowsemibold';
            padding: 10px 40px; text-transform:uppercase;
        }
.contect-form-wrap { position:relative;}
    .contect-form-wrap .plant {
        position: absolute;
        bottom: -2%;
        left: 14%;
        z-index: 1;
    }
    .contect-form-wrap .plant img { width:80%;}
    .contect-form-wrap .enquiry-client {
        position: absolute;
        right: -3%;
        top: 3%;
    }

.brand-text { background-color: #191927; padding:67px 0; color:#fff; font-size:32px; line-height:37px; text-align:center;}
.brand-text p {}
.brand-qute { font-size:80px; line-height:0px; margin:0px; padding-bottom:20px;}

.faq                    { padding: 100px 0; background-color:#f0f0f0; }
.faq .heading           { padding-bottom:30px;}
.faq .card               { margin-bottom: 14px; box-shadow: 3px 0px 7px rgb(32 129 211 / 25%); border-radius: 10px !important; }
.faq .card .card-header { background: transparent; padding: 0px; border-radius: 10px; }
.faq .card .card-header h2 { font-family:'barlowmedium'; font-size: 20px; padding:10px; }
.faq .card .card-header [aria-expanded="true"] { background-color:#2f2f4c; color:#fff;}
.faq .card .card-header [aria-expanded="false"]:after { content:"+"; position:absolute; right:30px; font-size:30px; top:2px;}
.faq .card .card-header [aria-expanded="true"]:after { content:"-";position:absolute; right:30px; font-size:30px; top:2px;}
.faq .card p               { color:#0c0c0c;}
.faq .card .card-header h2 , .faq .card-body { padding:10px 60px;}
.faq .card .card-body { font-size:18px;}