@media only screen and (max-width: 991px) {
    .mob-menu {
        display: block;
    }
    .navbar-light .navbar-brand {
        margin: 0 auto;
    }
    #navbarSupportedContent {
        position: fixed;
        top: 0;
        z-index: 11;
        background: #fff;
        height: 100%;
        width: 100%;
        left: 0;
        color: #fff;
        transition: all 0.3s ease;
        padding: 20px
    }
    .navbar-nav {
        padding: 20px
    }
    .banner .banner-slider {
        overflow: hidden;
        background-position: top right;
    }
    .banner .banner-slider .banner-img {
        margin-left: -10%;
    }
    .banner-text h4 {
        font-size: 60px;
        line-height: normal;
        padding-bottom: 30px;
    }
    .banner-text p {
        line-height: normal;
        padding-bottom: 30px;
    }
    .banner-text .btn {
        font-size: 18px;
        padding: 15px;
    }
    .row-items-3 .col {
        max-width: calc( 100% / 2);
        flex-basis: calc( 100% / 2);
    }
    .blue-box {
        font-size: 30px;
    }
    .blue-box p big {
        font-size: 37px;
    }
    .lightBlue-box .brand-box-content {
        padding-top: 20px;
        left: 5%;
    }
    .lightBlue-box big {
        font-size: 42px;
    }
    .lightBlue-box p {
        line-height: normal !important;
        font-size: 25px;
    }
    .red-box .brand-box-content p {
        margin: 0;
        font-size: 26px;
    }
    .about-wrap {
        flex-direction: column;
    }
    .about-wrap .col {
        margin: 15px auto;
    }
    .about-us {
        padding: 40px 0;
    }
    .btn-hide-responsive {
        display: none !important;
    }
    .btn-hide-desktop {
        display: block;
    }
    .about-right .about-video {
        text-align: center;
        margin-bottom: 50px;
    }
    .clients { }
    .contect-form { background-image:none; background-color:#fff9f5;
        overflow: hidden;
        background-size: 50% auto;
    }
    .contect-form .form-wrap {
        max-width: 100%;
    }
    .contect-form .form-wrap::before {
        background-size: 20%;
        bottom: -85%;
        left: 30%;
    }
    .contect-form .form-wrap::after {
        background-size: 60%;
        right: -40%;
        top: 18%;
    }
    .contect-form-wrap .enquiry-client {
        right: -25%;
        top: 12%;
    }
    .contect-form-wrap .enquiry-client img {
        width: 80%;
    }
    .contect-form-wrap .plant {
        bottom: 0;
    }
    .contect-form-wrap .plant img {
        width: 50%;
    }
    .Animation-2d h2 {
        font-size: 32px;
    }
    .Animation-vedio-2d-foot {
        padding: 0px;
    }
    .service-banner-wrap { padding:0 30px;}
    .service-banner {
        background-size: auto;
        padding: 50px 0 65px 0; min-height:auto;
    }
    .service-banner-left .Animation-2d h2 span { display:block;}
    .service-banner-left .Animation-2d p { font-size:14px; margin:0 auto;}
    .service-banner-text { padding: 0px;}
    .service-banner-text p { font-size:14px; line-height:18px; padding:0 20px}
    .service-banner .btn { margin: 0 auto; text-transform: uppercase; font-size: 15px; font-family: 'barlowsemibold'; display: block; }
   .services.Animation-vedio-2d .services-animation-head .heading span { display:block;}
    .services.Animation-vedio-2d .services-animation-head p span { display:block; }
    .Animation-vedio-2d .row-items-3 .col  { margin:20px auto;}
    .Animation-vedio-2d .btn-lg { font-size:18px;}
    .Animation-vedio-2d-foot p { font-size:15px; line-height:20px; padding:0 40px;}
    .Animation-vedio-2d-foot p br { display:none;}
    
    .benefits {
        background-image: none;
    }
    .benefits-body {
        padding: 0;
    }
    .services-animation-head p { padding:10px;}



}

@media only screen and (max-width: 768px) {
    header .navbar-brand span big { font-size:18px; line-height:18px;}
    header .navbar-brand span small  { font-size:13px; line-height:14px;}
    .brand-boost-wrap {
        flex-direction: column;
    }
    .brand-boost-wrap .brand-boost-img {
        padding-bottom:20px;
        order: 0;
        flex-basis: 100%;
        max-width: 100%;
    }
    .brand-boost-wrap .brand-boost-content {
        order: 1;
        flex-basis: 100%;
        max-width: 100%;
    }
    .banner-text {
        padding-left: 15px;
        max-width: 60% !important;
        flex-basis: 60% !important;
    }
    .banner-text h4 {
        font-size: 46px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .banner-text .btn {
        line-height: normal;
        font-size: 18px;
        padding: 8px; margin-left:30px; margin-top:0px;
    }
    .banner-text p { padding-right:15px;}
    .banner-text p br { display:none;}
    .row-items-3 .col { padding:0 30px;}
    .blue-box { height:200px;}
    .blue-box p big {
        font-size: 32px;
    }
    .Video-boost {
        padding: 40px 0;
        margin: 20px auto;
    }
    .Video-boost h2 {
        font-size: 28px;
    }
    .Video-boost p {
        font-size: 14px;
    }
    .Animation-2d {
        margin: 20px auto;
    }
    .brand-boost {
        padding: 100px 30px;
    }
    .red-box {
        height: auto;
        padding-bottom: 8%;
    }
    .red-box .brand-box-img img {
        max-width: 55%;
    }
    .red-box .brand-box-content p {
        font-size: 20px;
    }
    .red-box .brand-box-content p big {
        font-size: 26px;
    }
    .blue-box {
        font-size: 23px;
    }
    .blue-box p big {
        font-size: 31px;
    }
    .lightBlue-box p {
        font-size: 23px;
        margin: 0;
    }
    .lightBlue-box big {
        font-size: 31px;
    }
    .lightBlue-box .brand-box-img img {
        margin: 0;
        max-width: 100%;
    }
    .client-head { padding:0px;}

    .about-us .heading {
        font-size: 33px;
        padding-bottom: 45px;
    }
    .about-wrap .col {
        margin: 0 auto;
    }
    .about-us .about-left {
        padding: 0 30px;
    }
    .about-us .about-left .about-top .heading-top {
        font-size: 36px;
    }
    .about-us .about-left .about-top p {
        font-size: 24px;
    }
    .about-us .about-left p {
        font-size: 14px; line-height:18px;
    }
    .btn-hide-desktop {
        font-size: 16px;
    }
    .heading {
        font-size: 33px
    }
    .client-head p {
        text-align: justify;
    }
    .client-logo li {
        flex-basis: calc( 100% / 3);
        max-width: calc( 100% / 3);
    }
    .form-wrap .form-head .heading { font-size:33px;}
    .form-wrap .form-head small { font-size:14px;}
    .form-wrap .form-head small br  { display:none;}
    .form-wrap .form-body .form-group { margin-bottom:20px;}
    .form-wrap .form-body .form-control { height:39px;}
    .form-wrap .form-head h4 { font-size:18px; line-height:19px;}
    .contect-form-wrap  { margin:0 -15px; }
    .contect-form .form-wrap {border-radius:0px;}
    .contect-form-wrap .enquiry-client {
        right: -40%;
        top: 26%;
    }
    .contect-form-wrap .enquiry-client img {
        width: 45%;
    }
    #fname, #Lname, #email, #contact, #feference-video, #Service-Requirement {
        width: 80%;
    }
    .contect-form-wrap .plant img {
        width: 45%;
    }
    .contect-form-wrap .plant {
        left: 8%;
    }
    .form-wrap .form-body .btn { font-size:15px; padding:6px 27px;}
    .form-wrap .form-body { padding:0 20px;}
    .footheading {
        font-size: 22px;
    }
    footer .foot-menu {
        flex-direction: column;
        padding: 0 30px;
    }
    .copy-right {
        margin-top: 40px;
    }
    .copy-right p {
        font-size: 16px;
    }

    .service-banner-wrap .service-banner-left .btn {
        display: none;
    }
    
    .service-banner-wrap {
        display: block;
        text-align: center;
    }
    .service-banner-left, .service-banner-right {
        flex-basis: 100%;
        max-width: 100%;
    }
    .services-Video-boost.Video-boost h2 {
        font-size: 25px;
    }
    .services-Video-boost.Video-boost p { font-size:12px;}
    .services-card .div-iframe {
        width: 100%;
    }
    .animation-story { margin-top:90px;}

    .brand-boost-wrap .brand-boost-img .boost-heading { display:block; font-size:18px; margin-bottom:30px;}
    .brand-boost-wrap .brand-boost-content .boost-heading { display:none;}
    
    .brand-boost-wrap .brand-boost-content p, .brand-boost-wrap .brand-boost-content ul li {
        font-size: 15px;
        line-height: 20px;
    }
    .brand-boost .pinck-box { height:auto;}
    .brand-text { font-size:19px; line-height:22px; padding:60px 30px;}
    .faq .card .card-header h2, .faq .card-body { padding: 10px 60px 10px 10px; }
    .copy-right p { font-size:13px;}
    .benefits-content { max-width:100%;}
    .benefits-fox  { display:none;}
    .benefits .benefits-head  { margin:0 auto;}
    .benefits .benefits-head h3 { font-size:16px; line-height:25px;;}
    .benefits .benefits-head .heading { font-size:23px; line-height:30px; margin:0;}
    .benefits-body .benefits-point { margin-bottom:30px;}
    .benefits-body .benefits-point p { font-size:15px; line-height:20px;}
    .benefits-body .benefits-content .benefits-point h4 { font-size:20px; line-height:24px; padding-bottom:12px;}
}

@media only screen and (max-width: 557px) {
    .row-items-3 .col {
        max-width: 100%;
        flex-basis: 100%;
    }
    .banner-text h4 {
        font-size: 28px;
        padding-bottom: 10px;
    }
    .banner-text p {
        font-size: 11px;
        font-family: 'barlowregular';
        padding-bottom: 10px;
    }
    .banner-text .btn {
        font-size: 12px;
    }
}
