
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="blog-wrap">
    <div class="container">
        <h3 class="heading wow animate__animated animate__zoomIn"> BLOG ARTICLES </h3>
        <div class="row">
            <div class="col-sm-9">
                <div class="blog-card">
                    <div class="row">
                        <div class="col-sm-4 wow animate__animated animate__zoomIn">
                            <img class="img-fluid" src="Assets/img/Article01.png" alt="">
                        </div>
                        <div class="col-sm-8 wow animate__animated animate__zoomIn">
                            <h5 class="sub-heading">
                                The Power of Animation for Business</h4>
                                <p>
                                    In today’s fast-paced digital world, capturing and retaining
                                    attention is more challenging than ever. Businesses are
                                    constantly seeking innovative ways to stand out, and one
                                    powerful tool that’s revolutionizing the promotional land
                                    scape is animation videos.
                                </p>
                                <div class="blog-foot">
                                    <button class="btn btn-danger">BUSINESS PROMO VIDEOS</button>
                                    <a href="" aria-label="DIGITAL MARKETING"> Read more.....</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-saidbar">
                    <h4 class="saidbar-heading"> CATEGORIES</h4>
                    <div class="card-wrap">
                        <div class="cards left-img wow animate__animated animate__zoomIn">
                            <a href="">
                                <div class="cards-img">
                                    <img class="img-fluid" src="Assets/img/Categories/01.png" alt="">
                                </div>
                                <div class="cards-text">
                                    <p> AI IN ANIMATION & DESIGN</p>
                                </div>
                            </a>
                        </div>
                        <div class="cards right-img wow animate__animated animate__zoomIn">
                            <a href="">
                                <div class="cards-text">
                                    <p>  2D ANIMATION VIDEOS</p>
                                </div>
                                <div class="cards-img">
                                    <img class="img-fluid" src="Assets/img/Categories/02.png" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="cards left-img wow animate__animated animate__zoomIn">
                            <a href="">
                                <div class="cards-img">
                                    <img class="img-fluid" src="Assets/img/Categories/03.png" alt="">
                                </div>
                                <div class="cards-text">
                                    <p>  3D ANIMATION VIDEOS</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social">
                        <h4 class="saidbar-heading">FOLLOW US</h4>
                        <ul class="social-icon">
                            <li class="wow animate__animated animate__zoomIn"><a href=""><img class="img-fluid" src="Assets/img/linkedin_2504923.png" alt="linkedin"></a></li>
                            <li class="wow animate__animated animate__zoomIn"><a href=""><img class="img-fluid" src="Assets/img/instagram_2504918.png" alt="instagram"></a></li>
                            <li class="wow animate__animated animate__zoomIn"><a href=""><img class="img-fluid" src="Assets/img/facebook_2504903.png" alt="facebook"></a></li>
                            <li class="wow animate__animated animate__zoomIn"><a href=""><img class="img-fluid" src="Assets/img/youtube_2504965.png" alt="youtube"></a></li>
                        </ul>
                    </div>

                    <div class="contect-us">
                        <h4 class="saidbar-heading"> CONTACT US</h4>
                        <p class="text-center wow animate__animated animate__zoomIn">
                            <a href="telto: +91-7304071081">
                                <img src="Assets/img/blog-call.png" alt="">
                            </a>
                            <span>+91-7304071081</span>
                        </p>
                        <p class="text-center wow animate__animated animate__zoomIn">
                            <a href="mailto:moodyfoxproductions@gmail.com">
                                <img src="Assets/img/Blog-Mail.png" alt="">
                            </a>
                            <span>moodyfoxproductions@gmail.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

