
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="blog-card">
    <div class="row">
        <div class="col-sm-4 wow animate__animated animate__zoomIn">
            <div class="seaction-right-img">
                <img class="img-fluid" src="Assets/img/Article01.png" alt="">
            </div>
        </div>
        <div class="col-sm-8 wow animate__animated animate__zoomIn">
            <h5 class="sub-heading">
                The Power of Animation for Business</h4>
                <p>
                    In today’s fast-paced digital world, capturing and retaining
                    attention is more challenging than ever. Businesses are
                    constantly seeking innovative ways to stand out, and one
                    powerful tool that’s revolutionizing the promotional land
                    scape is animation videos.
                </p>
                <div class="blog-foot">
                    <button class="btn btn-danger">BUSINESS PROMO VIDEOS</button>
                    <a href="/blog/details" aria-label="DIGITAL MARKETING"> Read more.....</a>
                </div>
        </div>
    </div>
</div>
 

