

@font-face {
    font-family: 'barlowblack';
    src: url('../fonts/barlow-black-webfont.woff2') format('woff2'),
         url('barlow-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;   

}
@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'),
         url('barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowextrabold';
    src: url('../fonts/barlow-extrabold-webfont.woff2') format('woff2'),
         url('barlow-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowextralight';
    src: url('../fonts/barlow-extralight-webfont.woff2') format('woff2'),
         url('barlow-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow-light-webfont.woff2') format('woff2'),
         url('barlow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowmedium';
    src: url('../fonts/barlow-medium-webfont.woff2') format('woff2'),
         url('barlow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular-webfont.woff2') format('woff2'),
         url('barlow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowsemibold';
    src: url('../fonts/barlow-semibold-webfont.woff2') format('woff2'),
         url('barlow-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowthin';
    src: url('../fonts/barlow-thin-webfont.woff2') format('woff2'),
         url('barlow-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { font-size: 16px;   font-family: barlowregular;}
.btn { transition:0.6s;}
.btn-lg { font-size: 24px; font-family: 'barlowsemibold';}
.btn-primary { background-color: #fe9000; border-color: #fe9000; color: #161616; font-weight: 500;}
btn:hover , .btn-primary:hover ,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus , .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle , .btn-primary.focus, .btn-primary:focus{ box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); background-color: #fe9000; border-color: #fe9000; color:#fff !important; transform:scale(1.05) !important; transition:0.6s;}
ul , li { list-style: none; padding: 0;}
.text-primary { color: #fe9000 !important;}
/* Header */
.mob-menu { display:none;}
header .navbar-brand  { display: flex;}
header .navbar-brand span { display: flex; flex-direction: column; line-height: 27px; justify-content: center; font-size: 27px; font-family: 'barlowbold';padding-left: 10px;}
header .navbar-brand span small { font-size: 18px; font-weight: bold;}
.navbar-nav { margin-left: auto; margin-right: 0;}
.navbar-light .navbar-nav .nav-link { color: #000; font-family: 'barlowbold';text-transform: uppercase; font-size: 18px; padding:8px 20px;}

.blog-seaction { display:flex; margin:0 -15px;}
.blog-seaction-right { flex-basis:75%; padding:0 15px;
}
.blog-seaction-left {
    flex-basis: 35%;
    padding: 0 15px;
}
.blog-wrap { background-color: #f0f0f0; padding: 80px 0; }
.heading { font-size: 50px; line-height:70px; font-family: 'barlowbold'; text-align: center; margin-bottom: 40px; position: relative; color: #0c0c0c;}
.heading::after { content: "";height: 2px;display: inline-block;border-bottom: solid 2px #7e7e7e;width: 200px;position: absolute;bottom: 0;top: auto;margin: 0 auto;left: 0;right: 0;}

.blog-card .sub-heading { font-family: 'barlowbold';color: #0c0c0c; position: relative; font-size:23px; margin-bottom:12px;}
.blog-card .sub-heading::after { content: "";height: 2px;display: inline-block;border-bottom: solid 2px #7e7e7e;width: 200px;position: absolute;bottom: -5px;margin-left: 0;margin-right: auto;left: 0;}
.blog-card p { font-size:17px; line-height:20px;}
.blog-foot      { display: flex; align-items: center; justify-content: space-between; }
.blog-foot .btn-danger { background-color: #fe361c; font-size: 12px; border-color: #fe361c; border-radius: 8px; font-family:'barlowmedium';}
.blog-foot a { font-family:'barlowmedium'; font-size:15px; color:#0072ff;}

.blog-saidbar { background-color: #f7f7f7; padding: 70px 10px; border-radius: 8px;}
.saidbar-heading { font-size: 25px; font-family:'barlowmedium'; position: relative;}
.saidbar-heading::after { content: "";height: 1px;display: inline-block;border-bottom: solid 1px #0c0c0c;width: 155px;position: absolute;right: -23%;transform: translate(-50% , -23%);top: 50%;}

.card-wrap { margin: 70px auto;}
.cards a { display: flex; align-items: center; position: relative; }
.cards .cards-img {width: 32%; position: relative; z-index: 1;}
.cards .cards-text {  background-color: #fe361c;font-size: 12px;width: 90%;display: inline-block;vertical-align: middle; border-radius: 6px;position: absolute; transition: 0.5s;}
.cards.left-img .cards-text {right: 0; text-align: right; }
.cards.right-img .cards-text { left: 0; text-align: left;}
.cards.right-img .cards-img {  margin-left: auto;}
.cards .cards-text p { margin: 0; color: #fff; padding: 10px; font-size:17px; font-family:'barlowmedium'; }
.cards.right-img a:hover .cards-text { padding-left: 5px; color: #0c0c0c;}
.cards.left-img a:hover .cards-text { padding-right: 5px; color: #0c0c0c;}
.cards.right-img a:hover .cards-text p, .cards.left-img a:hover .cards-text p { font-family: 'barlowbold';}

.blog-saidbar .social { margin: 50px auto;}
.blog-saidbar .social .social-icon { display: flex; justify-content: center;}
.blog-saidbar .social .social-icon li { transition:0.6s; }
.blog-saidbar .social .social-icon li:hover { transform:rotate(360deg);}
.blog-saidbar .social .social-icon li a { padding: 5px; display: block;}
.blog-saidbar .social .social-icon li a img { max-width: 35px;}

.blog-saidbar .contect-us { margin: 50px auto; }

.blog-saidbar .contect-us p { display: flex; flex-direction: column; font-size:21px;}
.blog-saidbar .contect-us p img {transition:0.5s;}
.blog-saidbar .contect-us p img:hover { transform:scale(1.2);}
.or .or-heading { font-size:25px; font-family:'barlowsemibold';  text-align:center}
.or .btn { font-size:21px; background-color:#ff381d; color:#fff;font-family:'barlowsemibold';  margin:0 auto; display:block; margin-top:33px;}
/* footer */
footer {
    background-color: #191928;
    padding: 40px 0 28px 0;
}

.footer-logo a {
    color: #fff;
}

.footer-logo .footer-logo-text {
    padding-top: 15px;
    margin: 0px;
    font-size: 20px;
    font-family: 'barlowmedium';
}

.socialIcons {
    display: flex;
    justify-content: center;
}

    .socialIcons li {
        padding: 0px 4px;
    }

        .socialIcons li a {
            display: block;
        }

            .socialIcons li a img {
                width: 25px;
            }

footer .foot-menu {
    display: flex;
}

.footheading {
    font-size: 25px;
    color: #fe9000;
    position: relative;
    font-family: 'barlowmedium';
}

    .footheading:after {
        position: absolute;
        content: "";
        background: #fe9000;
        width: 90px;
        height: 2px;
        bottom: -10px;
        left: 0;
    }

footer .foot-menu ul {
    padding-top: 20px;
}

footer .foot-menu li a {
    color: #fff;
    font-size: 18px;
    font-family: 'barlowregular';
    display: inline-flex;
}

    footer .foot-menu li a img {
        width: 35px;
        height: 25px;
        padding: 0 5px;
    }

.copy-right {
    text-align: right;
    font-size: 18px;
    line-height: 25px;
    color: #b6b6b6;
}

    .copy-right p {
        margin: 0px;
        font-size: 12px;
        text-transform: uppercase;
    }

        .copy-right p span {
            font-size: 18px;
        }
/* service Page */



.blog-card-section { margin-bottom:60px;}
.seaction-right-img img{ transition:0.6s;}
.seaction-right-img img:hover { transform:scale(1.1); }
/* Inner */
.blog-seaction-right nav {
    border-top: solid 2px #939393;
    padding-top: 30px;
}
.blog-seaction-right .pagination { justify-content:center;}
.blog-seaction-right .pagination li a { border:none; background-color:transparent; }
.detail-content .main-heading { font-size: 33px; font-family:'barlowbold'; border-bottom: solid 2px #0c0c0c; color:#050505; display: inline-block; margin: 30px auto; padding-bottom:25px;}
.detail-content p { font-size: 16px;    font-family: 'barlowregular'; color: #363636;}

.blog-detail-sub  { margin-top:40px;}
.blog-detail-sub .blog-detail-se .sub-heading { font-size:25px; color:#050505; font-family:'barlowbold';}
.blog-detail-sub .blog-detail-se-head img { transition:0.5s;}
.blog-detail-sub .blog-detail-se-head img:hover { transform:scale(1.05);}