@{
    ViewBag.Title = "Home Page";
}
<div class="banner owl-carousel">
    <div class="banner-slider">
        <div class="banner-img">
            <img src="~/Assets/img/fox.png" class="img-fluid" width="490" alt="">
        </div>

        <div class="banner-text">
            <h4 class="wow animate__animated animate__backInLeft" data-wow-duration="0.8s">
                Animation Videos <br>
                <span>that do it all</span>
            </h4>
            <p class="wow animate__animated animate__backInLeft" data-wow-duration="1s">
                <i>
                    Introduce Your
                    Business, Highlight Your Products,<br>
                    and Power Your Sales.
                </i>
            </p>
            <a class=" text-center btn btn-primary" href="https://wa.me/+917304071081" target="_blank">CONTACT US</a>

        </div>
    </div>
</div>

<section class="services">
    <div class="container">
        <div class="services-head text-center">
            <h4 class="heading text-center wow animate__animated animate__zoomIn">
                ANIMATION VIDEOS
                SERVICES
            </h4>
            <p class="wow animate__animated animate__zoomIn">
                Bring your ideas to life with our
                professional animation services! Whether it’s 2D, 3D, or motion graphics, we deliver
                visually stunning and engaging content that resonates with your audience. Let us help you
                tell your story in a way that stands out!
            </p>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap row-items-3">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/services/2DAnimation">
                            <img src="Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                                 class="img-fluid card-img-top" alt="...">
                            <span>2D ANIMATION</span>
                        </a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/service/_3DAnimation">
                            <img src="Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                                 alt="...">
                            <span>3D ANIMATION</span>
                        </a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/service/_3DProductVideos">
                            <img src="Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                                 alt="...">
                            <span>3D PRODUCT VIDEOS</span>
                        </a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/service/_ExplainerVideos">
                            <img src="Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                                 alt="...">
                            <span>EXPLAINER VIDEOS</span>
                        </a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/service/_MotionGraphics">
                            <img src="Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                                 alt="...">
                            <span>MOTION GRAPHIC VIDEOS</span>
                        </a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <a href="/service/_eLearningVideos">
                            <img src="Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                                 alt="...">
                            <span>E-LEARNING VIDEOS</span>
                        </a>
                    </div>
                </div>
                @*<div class="col wow animate__animated animate__zoomIn">
                        <div class="services-card">
                            <img src="Assets/img/Services-images/design.jpg" class="img-fluid card-img-top"
                                 alt="...">
                            <a href="#">DESIGN SERVICES</a>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="services-card">
                            <img src="Assets/img/Services-images/website-development.jpg"
                                 class="img-fluid card-img-top" alt="...">
                            <a href="#">WEBSITE DEVELOPMENT</a>
                        </div>
                    </div>
                    <div class="col wow animate__animated animate__zoomIn">
                        <div class="services-card">
                            <img src="Assets/img/Services-images/digital marketing.jpg"
                                 class="img-fluid card-img-top" alt="...">
                            <a href="#">DIGITAL MARKETING SERVICES</a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</section>

<section class="Video-boost  wow animate__animated animate__bounceIn">
    <div class="container">
        <div class="text-center">
            <h2>WHY ANIMATION <span class="text-primary">VIDEO IS A BOOST</span> FOR BUSINESSES?</h2>
            <p>BROAD AUDIENCE REACH | increase engagement | HIGHER CONVERSION | BOOST TO BRAND AWARENESS</p>
        </div>
    </div>
</section>


<section class="brand-boost">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 wow animate__animated animate__zoomIn">
                <div class="brand-box red-box">
                    <div class="brand-box-img">
                        <img src="Assets/img/broad-audience.png" class="img-fluid" alt="">
                    </div>
                    <div class="brand-box-content">
                        <p><big>BROAD</big> AUDIENCE REACH</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 wow animate__animated animate__zoomIn">
                <div class="brand-box pinck-box">
                    <div class="brand-box-img">
                        <img src="Assets/img/brand-boost01.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12 wow animate__animated animate__zoomIn">
                        <div class="brand-box blue-box">
                            <div class="brand-box-content">
                                <p><big>INCREASE</big> ENGAGEMENT</p>
                                <p>HIGHER <big>CONVERSION</big></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="magnet-music-wrap d-flex">
                    <div class="magnet-music wow animate__animated animate__zoomIn">
                        <div class="brand-box magnet">
                            <div class="brand-box-img">
                                <img class="img-fluid" src="Assets/img/brand-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="magnet-music wow animate__animated animate__zoomIn">
                        <div class="brand-box music">
                            <div class="brand-box-img">
                                <img class="img-fluid" src="Assets/img/brand-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7  wow animate__animated animate__zoomIn">
                <div class="brand-box lightBlue-box">
                    <div class="brand-box-content">
                        <p><big>BOOST</big> </p>
                        <p>To</p>
                        <p>BRAND AWARENESS</p>
                    </div>
                    <div class="brand-box-img">
                        <img class="img-fluid" src="~/Assets/img/higher-conversion.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="container">
        <h3 class="heading">ABOUT US</h3>
        <div class="about-wrap d-flex">
            <div class="col  wow animate__animated animate__zoomIn">
                <div class="about-left">
                    <div class="about-top">
                        <div>
                            <h3 class="heading-top counters" akhi="18">0 </h3>
                            <p>years experience</p>
                        </div>
                        <div>
                            <h3 class="heading-top counters" akhi="250">0 </h3>
                            <p>clients</p>
                        </div>
                    </div>
                    <p>
                        Specializing in custom animated videos and explainer
                        video production, we bring ideas to life with captivating
                        visuals that enhance your brand message. Our clients
                        rely on us for high-quality animation services tailored to
                        their unique needs, whether for marketing, corporate
                        communication, or product demonstrations. We are your
                        trusted partner for affordable animation solutions that
                        drive results.
                    </p>
                    <button class="btn btn-primary btn-lg btn-hide-responsive">SCHEDULE A CALL NOW</button>
                </div>
            </div>
            <div class="col  wow animate__animated animate__zoomIn">
                <div class="about-right">
                    <div class="about-video wow animate__ animate__zoomIn animated">
                        @*<img class="img-fluid" src="~/Assets/img/video-bg.jpg" alt="video-bg">*@
                        <div class="div-iframe embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" style="border: none;"
                                    src="https://www.youtube.com/embed/UKuHk9H2Luk?si=D-oHtKH3UbdKPAW4" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-hide-desktop">SCHEDULE A CALL NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="clients">
    <div class="container">
        <div class="client-head  wow animate__animated animate__zoomIn">
            <h3 class="heading">HAPPY CLIENTS</h3>
            <p>Bring your ideas to life with our professional animation services! Whether it’s 2D, 3D, or motion graphics, we deliver visually stunning and engaging content that resonates with your audience. Let us help you tell your story in a way that stands out!</p>
        </div>
        <ul class="client-logo d-flex">
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/Complan.png" alt="Complan" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/cadbury.png" alt="cadbury" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/Yamaha-Motor-logo.png" alt="Yamaha-Motor" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/Thomson-Reuters-Eikon.png" alt="Thomson Reuters Eikon" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/nestle_logo_3.png" alt="nestle_logo_3" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/hershey.png" alt="hershey" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/tata-capital.png" alt="tata capital" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/HDFC.png" alt="HDFC" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/mahindra.png" alt="mahindra" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/Byju-s.png" alt="Byju" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/airtel.png" alt="airtel" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/usp.png" alt="usp" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/unfoldu.png" alt="unfoldu" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/harpic.png" alt="harpic" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/cosmos.png" alt="cosmos" class="img-fluid"></li>

        </ul>
    </div>
</section>
<section class="brand-text">
    <div class="text-center">
        <p class="text-primary brand-qute"><img src="~/Assets/img/qute.png" alt="" class="img-fluid"></p>
    </div>
    <div class="container">
        <p>
            “In the world, many people fall behind in their businesses simply because they fail to make timely decisions and don't realize the critical importance of taking action at the right moment. Success favors those who seize opportunities without hesitation - don't let indecision hold you back!”
        </p>
    </div>
</section>
@Html.Partial("_ContactUs")


<section class="faq">
    <div class="container">
        <div class="text-center">
            <h3 class="heading">FREQUENTLY ASKED QUESTIONS (FAQ)</h3>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="faq1">
                    <h2 data-toggle="collapse" data-target="#faq01" aria-expanded="true" aria-controls="faq01" class="mb-0">
                        How can animation benefit my business?
                    </h2>
                </div>
                <div id="faq01" class="collapse show" aria-labelledby="faq1" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Animation can boost your business by increasing audience engagement, enhancing brand awareness, and driving higher conversion rates.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq2">
                    <h2 data-toggle="collapse" data-target="#faq02" aria-expanded="false" aria-controls="faq02" class="mb-0">
                        How long does it take to produce an animated video?
                    </h2>
                </div>
                <div id="faq02" class="collapse" aria-labelledby="faq2" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>The production timeline varies depending on the project's complexity and length. Typically, it can range from a few weeks to a couple of months.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq3">
                    <h2 data-toggle="collapse" data-target="#faq03" aria-expanded="false" aria-controls="faq03" class="mb-0">
                        What information do you need from me to start a project?
                    </h2>
                </div>
                <div id="faq03" class="collapse" aria-labelledby="faq3" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>We require details about your target audience, the message you wish to convey, preferred style of animation, and any specific branding guidelines.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq4">
                    <h2 data-toggle="collapse" data-target="#faq04" aria-expanded="false" aria-controls="faq04" class="mb-0">
                        What are your pricing models?
                    </h2>
                </div>
                <div id="faq04" class="collapse" aria-labelledby="faq4" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Our pricing is project-based and depends on factors like animation style, video length, and complexity. Please contact us for a detailed quote.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq5">
                    <h2 data-toggle="collapse" data-target="#faq05" aria-expanded="false" aria-controls="faq05" class="mb-0">
                        Can you help us decide the best animation style for our project?
                    </h2>
                </div>
                <div id="faq05" class="collapse" aria-labelledby="faq5" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Yes, we offer consultations to help you choose the animation style that aligns with your brand and effectively communicates your message.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq6">
                    <h2 data-toggle="collapse" data-target="#faq06" aria-expanded="false" aria-controls="faq06" class="mb-0">
                        What if I don't have a clear idea for my project? Can you help me develop one?
                    </h2>
                </div>
                <div id="faq06" class="collapse" aria-labelledby="faq6" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Our creative team can assist you in brainstorming and developing a concept that aligns with your goals. We can create scripting and storyboarding before directly moving into the video process so as to ensure clarity and alignment.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq7">
                    <h2 data-toggle="collapse" data-target="#faq07" aria-expanded="false" aria-controls="faq07" class="mb-0">
                        Do you provide voice-over and background music for the animations?
                    </h2>
                </div>
                <div id="faq07" class="collapse" aria-labelledby="faq7" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Yes, we offer comprehensive services that include professional voice-overs and background music to enhance your animated videos.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq8">
                    <h2 data-toggle="collapse" data-target="#faq08" aria-expanded="false" aria-controls="faq08" class="mb-0">
                        Can you optimize animations for social media platforms?
                    </h2>
                </div>
                <div id="faq08" class="collapse" aria-labelledby="faq8" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Yes, we create platform-specific animations optimized for different formats, such as square, vertical, or horizontal videos.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq9">
                    <h2 data-toggle="collapse" data-target="#faq09" aria-expanded="false" aria-controls="faq09" class="mb-0">
                        What if I don’t like the animation?
                    </h2>
                </div>
                <div id="faq09" class="collapse" aria-labelledby="faq9" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>We strive for 100% client satisfaction and offer multiple revision rounds to make adjustments based on your feedback.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq10">
                    <h2 data-toggle="collapse" data-target="#faq010" aria-expanded="false" aria-controls="faq010" class="mb-0">
                        What if my budget is limited?
                    </h2>
                </div>
                <div id="faq010" class="collapse" aria-labelledby="faq10" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>We can suggest ways to scale down the project or use simpler animation techniques while still delivering a high-quality result.</p>
</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="faq11">
                    <h2 data-toggle="collapse" data-target="#faq011" aria-expanded="false" aria-controls="faq011" class="mb-0">
                        Can you animate characters based on our branding or mascots?
                    </h2>
                </div>
                <div id="faq011" class="collapse" aria-labelledby="faq11" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Of course! We can design custom characters or animate existing ones to fit your brand's identity.</p>
</div>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    const counters = document.querySelectorAll('.counters');
    const speed = 1000;

    counters.forEach(counter => {
        const animate = () => {
            const value = +counter.getAttribute('akhi');
            const data = +counter.innerText;

            const time = value / speed;
            if (data < value) {
                counter.innerText = Math.ceil(data + time);
                setTimeout(animate, 1);
            } else {
                counter.innerText = value >= 1 ? `${value}+` : value; // Add "+" if value >= 1
            }
        };

        animate();
    });



    </script>