@{
    ViewBag.Title = "Home Page";
}
<div class="banner owl-carousel">
    <div class="banner-slider">
        <img src="Assets/img/banner.jpeg" class="img-fluid" alt="">
        <div class="banner-text">
            <h4 class="wow animate__animated animate__backInLeft" data-wow-duration="0.8s">
                Animation Videos <br>
                <span>that do it all</span>
            </h4>
            <p class="wow animate__animated animate__backInLeft" data-wow-duration="1s">
                <i>
                    Introduce Your
                    Business, Highlight Your Products,
                    and Power Your Sales.
                </i>
            </p>
            <button class=" text-center wow animate__animated animate__backInLeft btn btn-primary"
                    data-wow-duration="1.2s">
                CONTACT US
            </button>
        </div>
    </div>
</div>

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="heading text-center wow animate__animated animate__fadeInUp">
                    ANIMATION VIDEOS
                    SERVICES
                </h4>
                <p class="wow animate__animated animate__fadeInUp">
                    Bring your ideas to life with our
                    professional animation services! Whether it’s 2D, 3D, or motion graphics, we deliver
                    visually stunning and engaging content that resonates with your audience. Let us help you
                    tell your story in a way that stands out!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap row-items-3">
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">2D ANIMATION</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">3D ANIMATION</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">3D PRODUCT VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">EXPLAINER VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">MOTION GRAPHIC VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">E-LEARNING VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/design.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">DESIGN SERVICES</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/website-development.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">WEBSITE DEVELOPMENT</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__fadeInUp">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/digital marketing.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">DIGITAL MARKETING SERVICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Video-boost">
    <div class="container">
        <div class="text-center">
            <h2>WHY ANIMATION <span class="text-primary">VIDEO IS A BOOST</span> FOR BUSINESSES?</h2>
            <p>BROAD AUDIENCE REACH | increase engagement | HIGHER CONVERSION | BOOST TO BRAND AWARENESS</p>
        </div>
    </div>
</section>


<section class="brand-boost">
    <div class="container">
        <div class="row">
            <div class="box red">
                <h2>BROAD AUDIENCE REACH</h2>
                <img src="Assets/img/broad-audience.png" alt="Icon 1">
            </div>
            <div class="box pink">
                <h2>INCREASE ENGAGEMENT</h2>
                <p>HIGHER CONVERSION</p>
                <!-- <img src="path/to/icon2.png" alt="Icon 2"> -->
            </div>
        </div>
        <div class="row">
            <div class="box blue">
                <h2>BOOST TO BRAND AWARENESS</h2>
                <img src="Assets/img/higher-conversion.jpg" alt="Icon 3">
            </div>
            <div class="box green">
                <img src="Assets/img/131850a4-e84a-4149-a484-53dcf5f97271.jpg" alt="Icon 4">
                <h2>Content Goes Here</h2>
            </div>
        </div>
    </div>
</section>