@{
    ViewBag.Title = "Home Page";
}
<div class="banner owl-carousel">
    <div class="banner-slider">
        <div class="banner-img">
            <img src="~/Assets/img/fox.png" class="img-fluid" width="490" alt="">
        </div>
        
        <div class="banner-text">
            <h4 class="wow animate__animated animate__backInLeft" data-wow-duration="0.8s">
                Animation Videos <br>
                <span>that do it all</span>
            </h4>
            <p class="wow animate__animated animate__backInLeft" data-wow-duration="1s">
                <i>
                    Introduce Your
                    Business, Highlight Your Products,
                    and Power Your Sales.
                </i>
            </p>
            <button class=" text-center wow animate__animated animate__backInLeft btn btn-primary"
                    data-wow-duration="1.2s">
                CONTACT US
            </button>
        </div>
    </div>
</div>

<section class="services">
    <div class="container">
        <div class="services-head text-center">
                <h4 class="heading text-center wow animate__animated animate__zoomIn">
                    ANIMATION VIDEOS
                    SERVICES
                </h4>
                <p class="wow animate__animated animate__zoomIn">
                    Bring your ideas to life with our
                    professional animation services! Whether it’s 2D, 3D, or motion graphics, we deliver
                    visually stunning and engaging content that resonates with your audience. Let us help you
                    tell your story in a way that stands out!
                </p>
        </div>
        <div class="row">
            <div class="d-flex flex-wrap row-items-3">
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">2D ANIMATION</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">3D ANIMATION</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">3D PRODUCT VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">EXPLAINER VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">MOTION GRAPHIC VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">E-LEARNING VIDEOS</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/design.jpg" class="img-fluid card-img-top"
                             alt="...">
                        <a href="#">DESIGN SERVICES</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/website-development.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">WEBSITE DEVELOPMENT</a>
                    </div>
                </div>
                <div class="col wow animate__animated animate__zoomIn">
                    <div class="services-card">
                        <img src="Assets/img/Services-images/digital marketing.jpg"
                             class="img-fluid card-img-top" alt="...">
                        <a href="#">DIGITAL MARKETING SERVICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Video-boost  wow animate__animated animate__bounceIn">
    <div class="container">
        <div class="text-center">
            <h2>WHY ANIMATION <span class="text-primary">VIDEO IS A BOOST</span> FOR BUSINESSES?</h2>
            <p>BROAD AUDIENCE REACH | increase engagement | HIGHER CONVERSION | BOOST TO BRAND AWARENESS</p>
        </div>
    </div>
</section>


<section class="brand-boost">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 wow animate__animated animate__zoomIn">
                <div class="brand-box red-box">
                    <div class="brand-box-img">
                        <img src="Assets/img/broad-audience.png" class="img-fluid" alt="">
                    </div>
                    <div class="brand-box-content">
                        <p><big>BROAD</big> AUDIENCE REACH</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 wow animate__animated animate__zoomIn">
                <div class="brand-box pinck-box">
                    <div class="brand-box-img">
                        <img src="Assets/img/brand-boost01.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12 wow animate__animated animate__zoomIn">
                        <div class="brand-box blue-box">
                            <div class="brand-box-content">
                                <p><big>INCREASE</big> ENGAGEMENT</p>
                                <p>HIGHER <big>CONVERSION</big></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="magnet-music-wrap d-flex">
                    <div class="magnet-music wow animate__animated animate__zoomIn">
                        <div class="brand-box magnet">
                            <div class="brand-box-img">
                                <img class="img-fluid" src="Assets/img/131850a4-e84a-4149-a484-53dcf5f97271.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="magnet-music wow animate__animated animate__zoomIn">
                        <div class="brand-box music">
                            <div class="brand-box-img">
                                <img class="img-fluid" src="Assets/img/66858e54-5708-4a96-b08b-64b9ff65c7a4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7  wow animate__animated animate__zoomIn">
                <div class="brand-box lightBlue-box">
                    <div class="brand-box-content">
                        <p><big>BOOST</big> </p>
                        <p>To</p>
                        <p>BRAND AWARENESS</p>
                    </div>
                    <div class="brand-box-img">
                        <img class="img-fluid" src="~/Assets/img/higher-conversion.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <div class="container">
        <h3 class="heading">ABOUT US</h3>
        <div class="about-wrap d-flex">
            <div class="col  wow animate__animated animate__zoomIn">
                <div class="about-left">
                    <div class="about-top">
                        <div>
                            <h3 class="heading-top">18+ </h3>
                            <p>years experience</p>
                        </div>
                        <div>
                            <h3 class="heading-top">250+ </h3>
                            <p>clients</p>
                        </div>
                    </div>
                    <p>
                        Specializing in custom animated videos and explainer
                        video production, we bring ideas to life with captivating
                        visuals that enhance your brand message. Our clients
                        rely on us for high-quality animation services tailored to
                        their unique needs, whether for marketing, corporate
                        communication, or product demonstrations. We are your
                        trusted partner for affordable animation solutions that
                        drive results.
                    </p>
                    <button class="btn btn-primary btn-lg">SCHEDULE A CALL NOW</button>
                </div>
            </div>
            <div class="col  wow animate__animated animate__zoomIn">
                <div class="about-right">
                    <div class="about-video wow animate__ animate__zoomIn animated">
                        <img class="img-fluid" src="~/Assets/img/video-bg.jpg" alt="video-bg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="clients">
    <div class="container">
        <div class="client-head  wow animate__animated animate__zoomIn">
            <h3 class="heading">HAPPY CLIENTS</h3>
            <p>Bring your ideas to life with our professional animation services! Whether it’s 2D, 3D, or motion graphics, we deliver visually stunning and engaging content that resonates with your audience. Let us help you tell your story in a way that stands out!</p>
        </div>
        <ul class="client-logo d-flex">
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/Complan.png" alt="Complan" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/cadbury.png" alt="cadbury" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="~/Assets/img/clients/Yamaha-Motor-logo.png" alt="Yamaha-Motor" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/Thomson-Reuters-Eikon.png" alt="Thomson Reuters Eikon" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/nestle_logo_3.png" alt="nestle_logo_3" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/hershey.png" alt="hershey" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/tata-capital.png" alt="tata capital" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/HDFC.png" alt="HDFC" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/mahindra.png" alt="mahindra" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/Byju-s.png" alt="Byju" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/airtel.png" alt="airtel" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/usp.png" alt="usp" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/unfoldu.png" alt="unfoldu" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/harpic.png" alt="harpic" class="img-fluid"></li>
            <li class="wow animate__animated animate__zoomIn"><img src="Assets/img/clients/cosmos.png" alt="Complan" class="img-fluid"></li>

        </ul>
    </div>
</section>
<section class="contect-form">
    <div class="container">
        <div class="contect-form-wrap">
            <div class="plant">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/plant.png">
            </div>
            <form action="" class="form-wrap wow animate__animated animate__zoomIn">
                <div class="form-head text-center">
                    <h2 class="heading">ENQUIRY FORM</h2>
                    <small>
                        Do you wanna create and see, how an animation video can </br>
                        help you standout from your competitors.
                    </small>

                    <h4> <i>DON’T HESITATE TO CONTACT US!</i></h4>
                </div>
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" placeholder="First Name*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Lname" placeholder="Last Name*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Email Id*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact" placeholder="Contact">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="feference-video" placeholder=" Reference Video*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Service-Requirement" placeholder="Service Requirement*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="3" class="form-control" name="" id="">Any Message</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">SUBMIT</button>
                    </div>
                </div>
            </form>
            <div class="enquiry-client">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/boy.png">
            </div>
        </div>
    </div>
</section>
    