
@{
    Layout = null;
}


<section class="contect-form">
    <div class="container">
        <div class="contect-form-wrap">
            <div class="plant">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/plant.png">
            </div>
            <form action="" class="form-wrap wow animate__animated animate__zoomIn">
                <div class="form-head text-center">
                    <h2 class="heading">ENQUIRY FORM</h2>
                    <small>
                        Do you wanna create and see, how an animation video can </br>
                        help you standout from your competitors.
                    </small>

                    <h4> <i>DON’T HESITATE TO CONTACT US!</i></h4>
                </div>
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" placeholder="First Name*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Lname" placeholder="Last Name*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Email Id*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact" placeholder="Contact">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="feference-video" placeholder=" Reference Video*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Service-Requirement" placeholder="Service Requirement*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="3" class="form-control" name="" id="">Any Message</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary">SUBMIT</button>
                    </div>
                </div>
            </form>
            <div class="enquiry-client">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/boy.png">
            </div>
        </div>
    </div>
</section>

