
@{
    ViewBag.Title = "_3DProductVideos" +"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 d-flex">
                <div class="Animation-2d">
                    <h2 class="wow animate__animated animate__zoomIn"> 3D Animation Services</h2>
                    <p class="wow animate__animated animate__zoomIn">
                        Immersive | High Impact | Realistic
                    </p>
                    <div class="text-center wow animate__animated animate__zoomIn">
                        <button class="btn btn-primary mt-4"> Contact Us</button>
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-21by9 wow animate__animated animate__zoomIn">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="text-center service-banner-text mt-4">
            <p>
                Boost your business with our 3D animation services that enhance storytelling and engage audiences. Our expertly crafted animations provide stunning realism and dynamic visuals, making complex ideas easier to understand. With limitless creative possibilities, we bring your concepts to life in ways that captivate viewers and elevate your brand's presence in a competitive market.
            </p>
        </div>
    </div>
</div>

<section class="services Animation-vedio-2d">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h4 class="heading text-center wow animate__animated animate__fadeInUp">
                    3D ANIMATION VIDEOS
                </h4>
                <p class="wow animate__animated animate__fadeInUp">
                    "Explore our showcase of 3D animation videos to see the creativity and quality we bring to every project. Check them out below!."
                </p>
                <p class="wow animate__animated animate__fadeInUp">Check them out below!"</p>
            </div>
        </div>
        <div class="d-flex flex-wrap row-items-3">
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                         class="img-fluid card-img-top" alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/design.jpg" class="img-fluid card-img-top" alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/website-development.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__fadeInUp">
                <div class="services-card">
                    <img src="~/Assets/img/Services-images/digital marketing.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
        </div>
        <div class="text-center Animation-vedio-2d-foot">
            <button class="btn btn-lg btn-primary"> Explore More 3D Animation Videos</button>
            <p>
                Click on the above button, fill your requirements, and explore more such 3D animations right for your business growth.
            </p>

        </div>
    </div>
</section>

<section class="Video-boost">
    <div class="container">
        <div class="text-center">
            <h2>
                <strong> USE CASE OF <span class="text-primary">3D ANIMATION</span> FOR BUSINESSES?</strong>
            </h2>
            <p> 3D ANIMATION STORIES | 3D RHYMES FOR KIDS | 3D PRODUCT | 3D MEDICAL | 3D INDUSTRIAL | 3D EDUCATIONAL</p>
        </div>
    </div>
</section>

<section class="brand-boost">
    <div class="story-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D Animation Story.png" />
                </div>
                <div class="brand-boost-content">
                    <h4 class="boost-heading"> 3D ANIMATION STORY VIDEOS</h4>
                    <p> One can create various types of 3D animation story videos for any social </p>
                    <p>media platform that are both engaging and monetizable. These include:</p>

                    <ul>
                        <li>1) Stories on History</li>
                        <li>2) Animated short films on any topic of your choice</li>
                        <li>3) Magical & Fantasy stories</li>
                        <li>4) Superhero stories</li>
                        <li>5) Bedtime Stories</li>
                        <li>6) Detective Stories</li>
                        <li>7) Horror Stories</li>
                        <li>8) Mythological Stories</li>
                        <li>9) Motivational Stories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rhymes-kids">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content">
                    <h4 class="boost-heading"> 3D RHYMES FOR KIDS</h4>
                    <p>With our expertise in 3D rhymes animation for kids, we’ll help you create memorable content that not only entertains but also drives revenue, allowing you to capitalize on the growing demand for engaging and educational children's media.</p>
                    <p>Create your children's educational content by integrating catchy rhymes with stunning visuals, you can engage young audiences and keep them coming back for more.</p>
                    <p>Monetize your videos through platforms like YouTube, educational apps, or social media by attracting sponsorships, ad revenue, and subscriptions.</p>
                </div>
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D rhymes for kids.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="demo-launch">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D Products.png" />
                </div>
                <div class="brand-boost-content">
                    <h4 class="boost-heading">3D PRODUCT VIDEOS</h4>
                    <p>We will create the product in 3D and use it however we require as per the requirement.</p>
                    <p>Product demonstration videos showcase how a product works, highlighting its features and benefits in action. These videos help potential customers understand the product's value, making it easier for them to make informed purchase decisions.</p>
                    <p>Product launch videos create excitement and anticipation for a new product by showcasing its unique features and benefits. They effectively communicate the product’s value, generate buzz, and engage both existing and potential customers.</p>
                    <p>These videos can significantly boost sales, build trust, and create brand recognition.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content">
                    <h4 class="boost-heading">3D MEDICAL VIDEOS</h4>
                    <p>A 3D medical video is an animated visual representation that explains complex medical concepts, procedures, or anatomy using three-dimensional graphics.</p>
                    <p>Creating these videos in 3D is beneficial because it offers realistic and detailed views of intricate biological structures, making it easier for healthcare professionals and patients to grasp complex information.</p>
                    <p>This enhanced visualization improves patient education and engagement while also serving as a valuable training tool for medical personnel through immersive simulations.</p>
                </div>
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D Medical.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="how-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D industrial.png" />
                </div>
                <div class="brand-boost-content">
                    <h4 class="boost-heading"> 3D INDUSTRIAL VIDEOS</h4>
                    <p>3D industrial videos are animated visualizations that showcase industrial processes, machinery, and products in three dimensions.</p>
                    <p>Creating these videos in 3D is advantageous because they provide a realistic and detailed perspective, making complex operations easier to understand.</p>
                    <p>This immersive format enhances training, marketing, and sales presentations, effectively conveying technical information while engaging viewers and helping companies differentiate themselves in competitive markets.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="education-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content">
                    <h4 class="boost-heading"> 3D EDUCATIONAL VIDEO</h4>
                    <p>3D educational and awareness videos present complex concepts in an engaging and visually appealing way.</p>
                    <p>By incorporating realistic graphics and dynamic visuals, these videos enhance understanding and retention, making learning more interactive and enjoyable.</p>
                    <p>Creating content in 3D simplifies difficult topics, captivates diverse audiences, and promotes deeper learning, making it an effective tool for educators, businesses, and organizations to raise awareness on important issues.</p>
                </div>
                <div class="brand-boost-img">
                    <img class="img-fluid"
                         src="~/Assets/img/Services-images/03 For 3D animation page service/3D Education Video.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="benefits-head text-center">
            <h3> Here are some statistics that demonstrate the </h3>
            <h2><span class="text-primary">BENEFITS OF 3D ANIMATION VIDEOS FOR BUSINESSES:</span></h2>
        </div>
        <div class="benefits-body">
            <div class="benefits-point">
                <h4> <span class="text-primary">ENHANCED REALISM:</span></h4>
                <p>3D animations offer lifelike visuals, providing a more immersive and realistic experience.</p>
            </div>
            <div class="benefits-point">
                <h4> <span class="text-primary"> INCREASED ENGAGEMENT & BOOST YOUR BRAND:</span></h4>
                <p>91% of consumers prefer visual content over text, and 3D animations are a highly engaging form of visual content.</p>
                <p>With dynamic perspectives and depth, the visual impact of 3D often leads to higher engagement, helping your story stand out and hold viewer interest longer.</p>
            </div>
            <div class="benefits-point">
                <h4> <span class="text-primary">LEARNING & RETENTION:</span></h4>
                <p>  Studies show that learners retain 65% of information when it is presented in 3D compared to 10% retention when information is presented in 2D formats.</p>

            </div>
            <div class="benefits-point">
                <h4> <span class="text-primary">SOCIAL MEDIA ENGAGEMENT:</span></h4>
                <p>3D animations can increase social media shares by 1200% when used in posts, making them a powerful tool for reaching wider audiences.</p>
            </div>
            <div class="benefits-point">
                <h4> <span class="text-primary">BRAND ELEVATION:</span></h4>
                <p>3D animation videos often feel more premium and innovative, elevating brand perception and setting you apart from competitors.</p>
            </div>
        </div>
    </div>
</section>

<section class="contect-form">
    <div class="container">
        <form action="" class="form-wrap">
            <div class="form-head text-center">
                <h2 class="heading">ENQUIRY FORM</h2>
                <small> Do you wanna create and see, how an animation video can </small>
                <small>help you standout from your competitors. </small>

                <h4> <i>DON’T HESITATE TO CONTACT US!</i></h4>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="First Name*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Last Name*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Email Id*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Contact">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder=" Reference Video*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Service Requirement*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea rows="3" class="form-control" name="" id="">Any Message</textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</section>

