
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="service-banner-wrap">
                    <div class="service-banner-left">
                        <div class="Animation-2d">
                            <h2 class="wow animate__animated animate__zoomIn">
                                Motion Graphic
                                <span>Videos</span>
                            </h2>
                            <p class="wow animate__animated animate__zoomIn">
                                Creative | Dynamic | Informative
                            </p>
                            <div class="text-center wow animate__animated animate__zoomIn">
                                <button class="btn btn-primary mt-4 d-md-block d-sm-none"> Contact Us</button>
                            </div>
                        </div>

                    </div>
                    <!--<div class="service-banner-right service-video">-->
                    @*<img class="img-fluid" src="~/Assets/img/services-video.png" />*@
                    @*<div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rSXRBA4Npyw?si=d6hh9LORvZbU-clC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>*@
                    <!--</div>-->

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UKuHk9H2Luk?si=LP7EUiNW0wDjjTuB" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="text-center service-banner-text mt-4">
                    <p>
                        Customers using our motion graphic video services will receive visually captivating animations that effectively communicate their brand message. These engaging videos simplify complex concepts through creative storytelling, enhance viewer engagement, and strengthen brand identity, ultimately driving conversions and improving marketing efforts.
                    </p>
                </div>
                <button class="btn btn-primary mt-4 d-sm-block d-md-none text-center"> Contact Us</button>
            </div>
        </div>
    </div>
</div>

<section class="services Animation-vedio-2d">
    <div class="container">
        <div class="services-animation-head">
            <h4 class="heading text-center wow animate__animated animate__fadeInUp">
                MOTION GRAPHIC <span>VIDEOS</span>
            </h4>
            <p class="wow animate__animated animate__fadeInUp">
                Explore our Motion Graphic videos showcase to see how we bring ideas to life with dynamic visuals and engaging animations!
            </p>
        </div>
        <div class="d-flex flex-wrap row-items-3">
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                        class="img-fluid card-img-top" alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" style="border: none;"
                                src="https://www.youtube.com/embed/2yS8Lui-exY?si=lw-IlMy1FjgdYiKl" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe  embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/lrkc2P5g5S4?si=JIsf9EwCCXBGn7aP" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe  embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/PZMPWFoxD0M?si=KohAOMbH-49syoig" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe  embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/PuFiHrlqAfY?si=mcK8jho_Ho8Imgb_" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/OUtVES1d4HE?si=rDXl13xJlWOQRyp1" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/OUtVES1d4HE?si=N9KAatN7F-1qmHoP" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/design.jpg" class="img-fluid card-img-top" alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/F2TEt_fyiMM?si=UsieDwBRw37d_3-N" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/website-development.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/JUVO1ODFErQ?si=iDYmkOBedzqzm2Uw" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    @*<img src="../Assets/img/Services-images/digital marketing.jpg" class="img-fluid card-img-top"
                        alt="...">*@
                    <div class="div-iframe embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" width="339" height="180" style="border: none;"
                                src="https://www.youtube.com/embed/VP0d64a03yo?si=LALG6xhW4UYxEuPQ" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center Animation-vedio-2d-foot  wow animate__animated animate__fadeInUp">
            <a href="https://www.youtube.com/playlist?list=PLgJIOcJ0Kegyprk9uryplXOsDJhZHiPfw" target="_blank" class="btn btn-lg btn-primary"> Explore more Motion Graphic videos</a>
            <p>
                Click on the above button. Fill your requirements and explore more such Motion Graphic video animations right for your business growth.
            </p>

        </div>
    </div>
</section>

<section class="services-Video-boost  Video-boost wow animate__animated animate__bounceIn">
    <div class="container">
        <div class="text-center">
            <h2>
                <strong> USE CASE OF <span class="text-primary">MOTION GRAPHIC</span> FOR BUSINESSES?</strong>
            </h2>
            <p> Brand Awareness | Product Demonstrations | Marketing Campaigns | Tutorials and Training | Event Promotions | Corporate Presentations | App or Software Introductions</p>
        </div>
    </div>
</section>


<section class="animation-story">
    <div class="story-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #ff585d;">Brand Awareness</h4>
                    
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/Brand Awareness.png" />
                </div>
                <div class="brand-boost-content  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #ff585d;"> Brand Awareness</h4>
                    <p>
                        Explainer videos can generate excitement and convey essential information about upcoming events, webinars, or conferences.
                    </p>
                    <br>
                    <p>
                        By highlighting key speakers, topics, and benefits of attending, these videos can boost attendance and engagement.
                    </p>
                    <br />
                    <p>They create anticipation and provide a visual representation of what attendees can expect.""Motion graphics can significantly enhance brand identity. By incorporating animated visual styles into promotional videos, companies can create memorable and recognizable branding. </p>
                    <br />
                    <p>This form of visual storytelling captures attention and reinforces brand messaging, helping audiences associate specific visuals with the brand.</p>
                    <br />
                    <p>For instance, a well-crafted logo animation can create a lasting impression and become synonymous with the company’s values.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rhymes-kids">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #01a6ff;"> Product Demonstrations</h4>
                    <p>Motion graphics are particularly effective for showcasing product features and benefits in an engaging way.</p>
                    <br />
                    <p>Instead of static images or lengthy descriptions, animated videos can illustrate how a product works, highlight its unique features, and demonstrate its benefits.</p>
                    <br />
                    <p>This helps potential customers visualize the product in use, making it easier for them to understand its value and increasing the likelihood of conversion.</p>
                </div>
                <div class="brand-boost-img  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #01a6ff;"> Product Demonstrations</h4>
                    
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/Product Demonstration.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="demo-launch">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #ff9bc3;"> Marketing Campaigns</h4>
                   
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/Marketing Campaigns.png" />
                </div>
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #ff9bc3;"> Marketing Campaigns</h4>
                    <p>In today's digital landscape, capturing attention quickly is crucial.  </p>
                    <br />
                    <p>Motion graphics can effectively convey brand messages through eye-catching animations that stand out on social media, websites, and advertisements.</p>
                    <br />
                    <p>Whether it's a quick promotional video or a longer narrative, these graphics can simplify complex ideas into digestible content that resonates with audiences, driving engagement and brand loyalty.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #7b90ff;">Tutorials and Training</h4>
                    <p>
                        Motion graphics are ideal for creating tutorials and training materials.
                    </p>
                    <br>
                    <p>
                        By breaking down complex processes or software functionalities into easy-to-follow steps, companies can enhance the learning experience.
                    </p>
                    <br />
                    <p>Animated elements make the content more engaging and can help retain viewer attention better than traditional training materials, leading to improved comprehension and retention of information.</p>

                </div>
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #7b90ff;">Tutorials and Training</h4>
                    
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/Tutorials & Trainings.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="how-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #34def2;"> Event Promotions</h4>
                   
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/Event Promotion.png" />
                </div>
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #34def2;"> Event Promotions</h4>
                    <p>
                        When promoting events, captivating visuals are essential for generating excitement.
                    </p>
                    <br>
                    <p>
                        Motion graphics can create buzz by outlining key details—such as dates, locations, and highlights—through dynamic animations.
                    </p>
                    <br />
                    <p>This not only informs potential attendees but also excites them about the event, increasing the likelihood of attendance. Effective motion graphics can make an event fevibrantel more inviting and .</p>

                </div>
            </div>
        </div>
    </div>
    <div class="promo-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #fe9000;">Corporate Presentations</h4>
                    <p>
                        In corporate settings, adding motion graphics to presentations can transform dull slides into dynamic visual experiences.
                    </p>
                    <br>
                    <p>
                        This keeps audiences engaged during internal meetings or client pitches by providing visual aids that support the narrative.
                    </p>
                    <br />
                    <p>Incorporating animations can help illustrate key points, making it easier for the audience to follow along and retain information."</p>

                </div>
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #fe9000;">Corporate Presentations</h4>
                   
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/corporate presentation.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="how-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #34def2;"> App or Software Introductions</h4>
                    
                    <img class="img-fluid" src="~/Assets/img/Services-images/06 Motion Graphic service/App & software intro.png" />
                </div>
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading" style="background-color: #34def2;"> App or Software Introductions</h4>
                    <p>
                        For tech companies, motion graphics are a powerful tool for introducing apps or software.
                    </p>
                    <br>
                    <p>
                        By demonstrating user interfaces and functionalities through visually appealing animations, companies can attract users’ attention and interest.
                    </p>
                    <br />
                    <p>This approach not only highlights how the product works but also showcases its user-friendliness, ultimately encouraging downloads or purchases.</p>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="benefits">
    <div class="container">
        <div class="benefits-head text-center wow animate__animated animate__zoomIn">
            <h3> Here are some statistics that demonstrate the </h3>
            <h2 class="heading"><span class="text-primary">Benefits of  MOTION GRAPHIC Animation for businesses:</span></h2>
        </div>
        <div class="benefits-body">
            <div class="d-lg-none d-md-block text-center">
                <img class="img-fluid" src="~/Assets/img/service-fox.jpg">
            </div>
            <div class="benefits-wrap">
                <div class="benefits-content">
                    <div class="benefits-point wow animate__animated animate__zoomIn">
                        <h4> <span class="text-primary">Increased Retention: </span></h4>
                        <p> Viewers retain 95% of a message when they watch it in a video, compared to 10% when reading text.</p>

                    </div>
                    <div class="benefits-point wow animate__animated animate__zoomIn">
                        <h4> <span class="text-primary">Higher Engagement:</span></h4>
                        <p>Video content is shared 1,200% more times than text and images combined.</p>

                    </div>
                    <div class="benefits-point wow animate__animated animate__zoomIn">
                        <h4> <span class="text-primary"> Improved Conversions:</span></h4>
                        <p> Including a video on a landing page can increase conversion rates by up to 80% .</p>
                    </div>
                    <div class="benefits-point wow animate__animated animate__zoomIn">
                        <h4> <span class="text-primary">Mobile Viewing:</span></h4>
                        <p>Over 50% of all video views come from mobile devices, making it crucial for reaching on-the-go audiences.</p>
                    </div>
                    <div class="benefits-point wow animate__animated animate__zoomIn">
                        <h4> <span class="text-primary">Boost in Sales:</span></h4>
                        <p> 74% of users who watched an explainer video about a product subsequently purchased it.</p>
                    </div>
                </div>
                <div class="benefits-fox wow animate__animated animate__zoomIn d-lg-block d-md-none d-sm-none">
                    <img class="img-fluid" src="~/Assets/img/Services-images/2D-animation-page-service/2D-Animation-fox.png" />
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_ContactUs")
