
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 d-flex">
                <div class="Animation-2d">
                    <h2 class="wow animate__animated animate__zoomIn"> 2D Animation Services</h2>
                    <p class="wow animate__animated animate__zoomIn">
                        Cost Effective | Visual Appealing |
                        Engaging
                    </p>
                    <div class="text-center wow animate__animated animate__zoomIn">
                        <button class="btn btn-primary mt-4"> Contact Us</button>
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="embed-responsive embed-responsive-21by9 wow animate__animated animate__zoomIn">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ZK-rNEhJIDs?si=QydSz9vYsG6o9Wny" title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="text-center service-banner-text mt-4">
            <p>
                Boost your business with our 2D animation services! It’s cost-effective, easy to update, and
                visually appealing. 2D animation helps explain your ideas clearly, engages your audience, and
                adds a unique, creative touch to your brand. Let’s make your message stand out and attract more
                customers.!
            </p>
        </div>
    </div>
</div>

<section class="services Animation-vedio-2d">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h4 class="heading text-center wow animate__animated animate__fadeInUp">
                    2D ANIMATION VIDEOS
                </h4>
                <p class="wow animate__animated animate__fadeInUp">
                    "Explore our showcase of 2D animation videos
                    to see the creativity and quality we bring to every project.
                </p>
                <p class="wow animate__animated animate__fadeInUp">Check them out below!"</p>
            </div>
        </div>
        <div class="d-flex flex-wrap row-items-3">
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/portrait-man-cartoon-style.jpg"
                         class="img-fluid card-img-top" alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/3d animation 01.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/3d product.jpeg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/Explainer Video.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/motion graphic.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/E-Learning.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/design.jpg" class="img-fluid card-img-top" alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/website-development.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
            <div class="col wow animate__animated animate__zoomIn">
                <div class="services-card">
                    <img src="../Assets/img/Services-images/digital marketing.jpg" class="img-fluid card-img-top"
                         alt="...">
                </div>
            </div>
        </div>
        <div class="text-center Animation-vedio-2d-foot  wow animate__animated animate__fadeInUp">
            <button class="btn btn-lg btn-primary"> Explore more 2D animation videos </button>
            <p>
                Click on the above button. Fill your requirements and explore more such 2D <br>animations right
                for your business growth
            </p>

        </div>
    </div>
</section>

<section class="Video-boost wow animate__animated animate__bounceIn">
    <div class="container">
        <div class="text-center">
            <h2>
                <strong> USE CASE OF <span class="text-primary">2D ANIMATION</span> FOR BUSINESSES?</strong>
            </h2>
            <p> 2D ANIMATION STORIES | 2D RHYMES FOR KIDS | 2D VIDEOS FOR YOUTUBE CHANNELS | BUSINESS VIDEOS</p>
        </div>
    </div>
</section>


<section class="brand-boost">
    <div class="story-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img  wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/animation-stories.png" />
                </div>
                <div class="brand-boost-content  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading"> 2D ANIMATION STORY VIDEOS</h4>
                    <p> One can create various types of 2D animation story videos for any social </p>
                    <p>media platform that are both engaging and monetizable. These include:</p>

                    <ul>
                        <li>1) Stories on History</li>
                        <li>2) Animated short lms on any topic of your choice</li>
                        <li>3) Magical & Fantasy stories</li>
                        <li>4) Superhero stories</li>
                        <li>5) Bedtime Stories</li>
                        <li>6) Detective Stories</li>
                        <li>7) Horror Stories</li>
                        <li>8) Mythological Stories</li>
                        <li>9) Motivational Stories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rhymes-kids">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content  wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading"> 2D RHYMES FOR KIDS</h4>
                    <p> One can create various types of 2D animation story videos for any social </p>
                    <p>media platform that are both engaging and monetizable. These include:</p>

                    <ul>
                        <li>1) Stories on History</li>
                        <li>2) Animated short lms on any topic of your choice</li>
                        <li>3) Magical & Fantasy stories</li>
                        <li>4) Superhero stories</li>
                        <li>5) Bedtime Stories</li>
                        <li>6) Detective Stories</li>
                        <li>7) Horror Stories</li>
                        <li>8) Mythological Stories</li>
                        <li>9) Motivational Stories</li>
                    </ul>
                </div>
                <div class="brand-boost-img  wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/rhymes-for-kids.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="demo-launch">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/product-demo.png" />
                </div>
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading"> PRODUCT DEMO & LAUNCH</h4>
                    <p>
                        These video will be created by motion graphic technique. We will not create 3d
                        products here. We will only use product images to create the video.
                    </p>
                    <p>
                        Product demonstration videos showcase how a product works,
                        highlighting its features and benets in action. These videos help
                        potential customers understand the product's value, making it easier
                        for them to make informed purchase decisions.
                    </p>
                    <p>
                        Product launch videos create excitement and anticipation for a new
                        pproduct by showcasing its unique features and benets. They effectively
                        communicate the product’s value, generate buzz, and engage both
                        existing and potential customers.
                    </p>
                    <p>These videos can signicantly boost sales, build trust and create brand </p>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading">MARKETING & PROMO VIDEOS</h4>
                    <p>
                        Marketing and promotion videos are designed to attract and engage
                        audiences by showcasing a brand, product, or service in a compelling
                        way.
                    </p>
                    <p>
                        These videos can drive interest in new offerings and campaigns
                        through captivating visuals, all aimed at increasing awareness and
                        driving sales.
                    </p>
                    <p>
                        Sho Short, eye-catching videos can drive engagement on
                        any social media platforms like (Youtube, Facebook, Instagram,
                        Tik-Tok, Linkedin, etc..)
                    </p>
                </div>
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/marketing-promo-video.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="how-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/how-to-video.png" />
                </div>
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading">  HOW TO VIDEOS</h4>
                    <p>
                        How-to-videos are an invaluable tool for businesses, helping
                        customers understand how to use products effectively and
                        troubleshoot common issues, thereby reducing the need for
                        customer support.
                    </p>
                    <p>
                        These videos build trust and credibility by showcasing your
                        expertise, while also improving your SEO and online presence by
                        aattracting more organic trac.
                    </p>
                    <p>
                        By providing clear, step-by-step guidance, how-to videos enhance
                        customer satisfaction, boost sales by helping potential customers
                        make informed decisions, and increase engagement with direct
                        calls to action
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="education-video">
        <div class="container">
            <div class="brand-boost-wrap">
                <div class="brand-boost-content wow animate__animated animate__zoomIn">
                    <h4 class="boost-heading">  TRAINING & EDUCATION VIDEOS</h4>
                    <p>
                        Training and education videos provide valuable instructional content
                        that helps employees and customers learn new skills or understand
                        complex concepts.
                    </p>
                    <p>
                        These videos can simplify training processes, improve knowledge
                        retention, and ensure consistent messaging across teams.
                    </p>
                    <p>
                        By using engaging visuals and clear explanations, they enhance the
                        learning learning experience and empower viewers to apply what they've
                        learned effectively.
                    </p>
                </div>
                <div class="brand-boost-img wow animate__animated animate__zoomIn">
                    <img class="img-fluid"
                         src="../Assets/img/Services-images/2D-animation-page-service/training-and-education.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="benefits-head text-center wow animate__animated animate__zoomIn">
            <h3> Here are some statistics that demonstrate the </h3>
            <h2><span class="text-primary">BENEFITS OF ANIMATION VIDEOS FOR BUSINESSES:</span></h2>
        </div>
        <div class="benefits-body">
            <div class="benefits-point wow animate__animated animate__zoomIn">
                <h4> <span class="text-primary">INCREASED ENGAGEMENT & BOOST YOUR BRAND:</span></h4>
                <p> 84% of people say they've been convinced to buy a product or service by watching a brand’s video.</p>
                <p> Social media posts with video generate 48% more views compared to non-video posts.</p>
                <p> 93% of brands say they’ve landed a new customer because of a video on social media .</p>
            </div>
            <div class="benefits-point wow animate__animated animate__zoomIn">
                <h4> <span class="text-primary"> HIGER CONVERSION RATE & IMPROVED RETENSION:</span></h4>
                <p> Businesses using video marketing see a 66% higher qualied lead generation annually.</p>
                <p> A landing page with an explainer video can increase conversion rates by up to 80% .</p>
            </div>
            <div class="benefits-point wow animate__animated animate__zoomIn">
                <h4> <span class="text-primary"> ENHANCED SEO:</span></h4>
                <p>  Video content drives a 157% increase in organic trac from search engines.</p>
                <p>  Websites with video are 53 times more likely to rank on the rst page of Google search results.</p>
            </div>
            <div class="benefits-point wow animate__animated animate__zoomIn">
                <h4> <span class="text-primary"> BROADER AUDIENCE REACH:</span></h4>
                <p>  Social media posts with video content get 48% more views compared to those without.</p>
                <p>  Videos are shared 1200% more than text and images combined on social media .</p>
            </div>
        </div>
    </div>
</section>

<section class="contect-form">
    <div class="container">
        <form action="" class="form-wrap wow animate__animated animate__zoomIn">
            <div class="form-head text-center">
                <h2 class="heading">ENQUIRY FORM</h2>
                <small> Do you wanna create and see, how an animation video can </small>
                <small>help you standout from your competitors. </small>

                <h4> <i>DON’T HESITATE TO CONTACT US!</i></h4>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="First Name*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Last Name*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Email Id*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Contact">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder=" Reference Video*">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Lname" placeholder="Service Requirement*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea rows="3" class="form-control" name="" id="">Any Message</textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
</section>
   