
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../Assets/blog/css/animate.min.css">
    <link rel="stylesheet" href="../Assets/blog/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Assets/blog/css/owl.theme.default.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Assets/blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/blog/css/layout.css">
    <link rel="stylesheet" href="../Assets/blog/css/responsive.css">
    <title>Moody Fox</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand wow animate__animated animate__fadeInDown" href="/">
                        <img src="../Assets/blog/img/Logo_header.png" alt="">
                        <span>
                            <big>MOODY <tag class="text-primary">FOX</tag></big>
                            <small>PRODUCTIONS</small>
                        </span>
                    </a>
                    <div class="collapse navbar-collapse  wow animate__animated animate__fadeInUp"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/service">SERVICES</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">
                                    OUR PROCESS
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="footer-logo text-center">
                            <a href="/home" class="wow animate__animated animate__fadeInUp">
                                <img src="../Assets/blog/img/Logo_footer.png" alt="logo">
                                <p>Moody Fox Productions</p>
                            </a>
                            <ul class="socialIcons">
                                <li class="wow animate__animated animate__fadeInUp">
                                    <a href="">
                                        <img class="img-fluid"
                                             src="../Assets/blog/img/linkedin_2504923.png" alt="">
                                    </a>
                                </li>
                                <li class="wow animate__animated animate__fadeInUp">
                                    <a href="">
                                        <img class="img-fluid"
                                             src="../Assets/blog/img/instagram_2504918.png" alt="">
                                    </a>
                                </li>
                                <li class="wow animate__animated animate__fadeInUp">
                                    <a href="">
                                        <img class="img-fluid"
                                             src="../Assets/blog/img/facebook_2504903.png" alt="">
                                    </a>
                                </li>
                                <li class="wow animate__animated animate__fadeInUp">
                                    <a href="">
                                        <img class="img-fluid"
                                             src="../Assets/blog/img/youtube_2504965.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="foot-menu d-flex flex-wrap row">
                            <div class="col">
                                <h5 class="footheading wow animate__animated animate__fadeInUp">Our Company</h5>
                                <ul>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="">Services</a></li>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="">Work Process</a></li>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="">Blog</a></li>
                                    <li class="wow animate__animated animate__fadeInUp"><a href="">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h5 class="footheading wow animate__animated animate__fadeInUp">Contact us</h5>
                                <ul>
                                    <li class="wow animate__animated animate__fadeInUp">
                                        <a href="tel:+91-7304071081">
                                            <img src="../Assets/blog/img/Call.png" alt="Call">
                                            +91-7304071081
                                        </a>
                                    </li>
                                    <li class="wow animate__animated animate__fadeInUp">
                                        <a href="mailto:moodyfoxproductions@gmail.com">
                                            <img src="../Assets/blog/img/Mail.png"
                                                 alt=""> moodyfoxproductions@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="../Assets/blog/js/jquery.slim.min.js"></script>
        <script src="../Assets/blog/js/bootstrap.bundle.min.js"></script>
        <script src="../Assets/blog/js/wow.min.js"></script>
        <script src="../Assets/blog/js/owl.carousel.js"></script>

        <script>

            $(document).ready(function () {
                $('.banner').owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    loop: true,
                    margin: 10

                })

                new WOW().init();

            });
        </script>
    </div>
</body>

</html>