

<section class="contect-form">
    <div class="container">
        <div class="contect-form-wrap">
            <div class="plant">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/plant.png">
            </div>
            <form action="#" method="post" class="form-wrap wow animate__animated animate__zoomIn">
                @Html.AntiForgeryToken()
                <input type="hidden" name="__RequestVerificationToken" value="@ViewData["__RequestVerificationToken"]" />

                <div class="form-head text-center">
                    <h2 class="heading">ENQUIRY FORM</h2>
                    <small>
                        Do you wanna create and see, how an animation video can </br>
                        help you standout from your competitors.
                    </small>

                    <h4> <i>DON’T HESITATE TO CONTACT US!</i></h4>
                </div>
                <div class="form-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" placeholder="First Name*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Lname" placeholder="Last Name*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Email Id*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact" placeholder="Contact">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="feference-video" placeholder=" Reference Video*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Service-Requirement" placeholder="Service Requirement*">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea rows="3" class="form-control" name="" id="">Any Message</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" id="sendEmailButton"  data-toggle="modal" data-target="#contectform">SUBMIT</button>
                        <p id="result"></p>
                    </div>
                </div>
            </form>
            <div class="enquiry-client">
                <img class="img-fluid wow animate__animated animate__zoomIn" src="~/Assets/img/boy.png">
            </div>
        </div>
    </div>
</section>
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contectform">
    Launch demo modal
</button>*@

<div class="modal fade" id="contectform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Assets/img/close-icon.png">
                </span>
                <img src="~/Assets/img/ThankYou-Mail.png">
                <h5>THANK YOU</h5>
                <p>
                    Your submission has been received. We will <br>
                    be in touch and contact you soon.
                </p>
                <button type="button" class="btn btn-primary">SUBMIT</button>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#sendEmailButton').click(function () {
        const emailData = {
            toEmail: $('#toEmail').val(),
            subject: $('#subject').val(),
            body: $('#body').val(),
        };

        $.ajax({
            type: "POST",
            url: "/Home/SendEmail",
            data: emailData,
            success: function (response) {
                if (response.success) {
                    $('#result').text(response.message).css('color', 'green');
                } else {
                    $('#result').text(response.message).css('color', 'red');
                }
            },
            error: function () {
                $('#result').text("An error occurred.").css('color', 'red');
            }
        });
    });
</script>
